@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --width--: 400px;
    --height_header--: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: url(https://4kwallpapers.com/images/wallpapers/mountains-winter-daytime-glacier-blue-mountain-range-5k-2560x1080-1248.jpg);
    background-size: cover;
    background-position: center center;
}

main {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    height: var(--height_header--);
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
}
nav {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul_header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    width: 180px;
}
h1 {
    padding: 10px 0px;
    font-size: 30px;
}
.user_image {
    width: var(--width--);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(94px);
    border-bottom: 1px solid white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: white;
}
.user_image > img {
    width: 65px;
}
section {
    width: var(--width--);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(94px);
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.continu_options_wraper {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.continu_options {
    width: 90%;
    height: 40px;
    font-weight: 700;
    border: 1px solid #AAAA;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 23px;
    cursor: pointer;
}
.or {
    width: 90%;
    height: 1px;
    background: linear-gradient(to right, #1875CB, #87ed24);
    display: flex;
    justify-content: center;
    position: relative;
}
.user_details {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wraper_inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.input_title {
    font-size: 14px;
}
.input {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    background: whitesmoke;
    border-bottom: 0px solid black;
}
.input:focus {
    border-bottom: 1.2px solid black;
    outline: none;
}
.remember_support {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 10px;
    color: white;
}
.remember_support > label {
    transition: all 200ms ease-in-out;
}
.remember_support > label:hover {
    color: #121212;
}
.forgot_password {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 200ms ease-in-out;
}
.forgot_password:hover {
    color: #121212;
}
.submit_button {
    width: 100%;
    height: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(to right, #1875CB, #87ed24);
    border: none;
    color: white;
    cursor: pointer;
}